@model TableauAPI.Models.SalesSkill

@{
    ViewBag.Title = "Customer Dashboard";
}

<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<style>
    .navbar-inverse {
        background-color: #fff !important;
        border-color: #ccc;
    }

    .body-content {
        padding-left: 15px;
        padding-right: 15px;
        margin-top: 50px;
    }
</style>
<h3>Customer Dashboard</h3>
<div style="margin-top:2%">
    <div id="tabs-1">
        <div id="vizContainer"></div>
    </div>
    <div id="tabs-2" style="display:none">
        Worksheet Name :
        <select id="menu"></select>
        <div id="dataContainer">
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.17/d3.min.js"></script>
<script src="https://public.tableau.com/javascripts/api/tableau-2.js"></script>
@*<script type="text/javascript" src="~/Scripts/index.js"></script>*@
<script>
    $(document).ready(function () {
        $("#vizContainer").height(window.innerHeight - 200)
        $("#dataContainer").height(window.innerHeight - 250)
        $("#menu").change(function () {
            fetchSheetData();
        });
        initViz();
    });

    function LoadData()
    {
        $("#vizContainer").height(window.innerHeight - 200)
        $("#vizContainer2").height(window.innerHeight)
        $("#dataContainer").height(window.innerHeight - 250)
        $("#menu").change(function () {
            fetchSheetData();
        });
        initViz();
    }

    function initViz() {
        $("#vizContainer").empty();
        $("#dataContainer").empty();
        $("#menu").empty();
        $("#vizContainer").append("<div id='tableau_visualization'></div>");
        var containerDiv = document.getElementById("tableau_visualization"),
            // url = $("#tableauURL").val(), 
            url = "https://us-west-2b.online.tableau.com/t/proximous/views/Customer360Dashboard/Customer360Metrics?iframeSizedToWindow=true&:embed=y&:showAppBanner=false&:display_count=no&:showVizHome=no&:origin=viz_share_link"
            options = {
                hideTabs: true,
                hideToolbar: true,
                onFirstInteractive: function () {
                    workbook = viz.getWorkbook();
                    getVizData();
                }
            };
        viz = new tableau.Viz(containerDiv, url, options);

    }
 
    //when viz is loaded (onFirstInteractive), request data
    function getVizData() {
        options = {
            maxRows: 500, // Max rows to return. Use 0 to return all rows
            ignoreAliases: false,
            ignoreSelection: true,
            includeAllColumns: false
        };

        sheet = viz.getWorkbook().getActiveSheet();

        //if active tab is a worksheet, get data from that sheet
        if (sheet.getSheetType() === 'worksheet') {
            $('#menu').append('<option>' + sheet.getName() + '</option>');
            if ($('#menu option').length === 1) {
                sheet.getUnderlyingDataAsync(options).then(function (t) {
                    prepareTable(sheet.getName(), t);
                });
            }
            //if active sheet is a dashboard get data from a specified sheet
        } else {
            // alert("SheetType = " + sheet.getSheetType());
            //debugger;
            worksheetArray = viz.getWorkbook().getActiveSheet().getWorksheets();
            for (var i = 0; i < worksheetArray.length; i++) {
                sheet = worksheetArray[i];
                if (sheet.getSheetType() == 'worksheet') {
                    $('#menu').append('<option>' + sheet.getName() + '</option>');
                }
            }
            fetchSheetData();
        }
    }

    function fetchSheetData() {
        $('#dataContainer').empty();
        worksheetArray = viz.getWorkbook().getActiveSheet().getWorksheets();
        for (var i = 0; i < worksheetArray.length; i++) {
            sheet = worksheetArray[i];
            console.log(sheet.getName());
            if (sheet.getSheetType() == 'worksheet' && sheet.getName() === "C360 Metrics ") {
              console.log(sheet.getName());
                var sheetName = sheet.getName();
                sheet.getUnderlyingDataAsync(options).then(function (t) {
                    prepareTable(sheetName, t);
                });
            }
        }
    }

    //restructure the data and build something with it
    function prepareTable(name, table) {
        var rowNum = 100;
        //the data returned from the tableau API
        var columns = table.getColumns();
        var data = table.getData();
        console.log(table.getData());
        //console.log(data[0]);

        // //convert to field:values convention
        function reduceToObjects(cols, data) {
            var fieldNameMap = $.map(cols, function (col) {
                return col.getFieldName();
            });
            var dataToReturn = $.map(data, function (d) {
                return d.reduce(function (memo, value, idx) {
                    memo[fieldNameMap[idx]] = value.value;
                    return memo;
                }, {});
            });
            return dataToReturn;
        }


        var niceData = reduceToObjects(columns, data);
        //OutPut JSON.stringify(niceData)
        console.log(JSON.stringify(niceData));
        var d = JSON.stringify(niceData);
        if (niceData != null)
        {
                    $.ajax({
            type: "POST",
            url: "@Url.Action("CustomerDashboard")",
            content: "application/json; charset=utf-8",
            dataType: "json",
            data: { "data": d },
            success: function (d) {
                if (d.success == true)
                    window.location.reload();
                else { }
            },
            error: function (xhr, textStatus, errorThrown) {
                // TODO: Show error
            }
        });
        }


        var table = $("<table>");
        var tr = $("<tr>")
        columns.forEach(function (col, i) {
            var th = $("<th>")
            th.text(col.getFieldName());
            tr.append(th);
        });
        table.append(tr);

        data.every(function (row, i) {
            if (i >= rowNum) {
                return false;
            }
            tr = $("<tr>")
            row.forEach(function (col) {
                var td = $("<td>")
                td.text(col.formattedValue);
                tr.append(td);
            });
            table.append(tr);
            return true;
        });
        var tableContainer = $("<div class='tableContainer'>");
        var tableHeading = $("<p>" + (data.length > rowNum ? " (showing only " + rowNum + "/" + data.length + " rows)" : " (showing " + data.length + " rows)") + "</p>")
        tableContainer.append(tableHeading);
        tableContainer.append(table);
        $('#dataContainer').append(tableContainer);
    }
</script>

